INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.*
configure
depcomp
doc/Makefile
doc/Makefile.in
doc/reference/.libs
doc/reference/tmpl
doc/reference/html
doc/reference/xml
doc/reference/*.stamp
doc/reference/version.xml
doc/reference/xml-reader-decl-list.txt
doc/reference/xml-reader-decl.txt
doc/reference/xml-reader-overrides.txt
doc/reference/xml-reader-undeclared.txt
doc/reference/xml-reader-undocumented.txt
doc/reference/xml-reader-unused.txt
doc/reference/xml-reader.args
doc/reference/xml-reader.hierarchy
doc/reference/xml-reader.interfaces
doc/reference/xml-reader.prerequisites
doc/reference/xml-reader.signals
gtk-doc.make
install-sh
libtool
ltmain.sh
missing
stamp-h1
xml-reader-1.0.pc
xml-reader.pc
xml-reader/.deps
xml-reader/.libs
xml-reader/libxml-reader-1.0.la
xml-reader/tests/.deps
xml-reader/tests/.libs
xml-reader/tests/*.o
xml-reader/tests/test-reader
xml-reader/*.lo

